.wrapper {
    position: relative;
}

.fetching {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.usersLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*overflow: scroll;*/
}

.pageActive {
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

.pageNotActive {
    color: #0056ff;
    cursor: pointer;
}

.card {
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background: linear-gradient(135deg, #ff85ec 0%, #84ff98 100%);
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
    inset -5px -5px 10px #ffffff7e;
}

.card .img img {
    height: 100px;
    margin-top: 1.0em;
    aspect-ratio: 1;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: -5px -5px 8px #ffffff7a,
    5px 5px 8px #a9a9aa7a;
}

.card .info {
    text-align: center;
    margin-top: 0.1em;
    background: linear-gradient(120deg, rgba(0,194,255,1) 0%, rgba(0,86,255,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .info > span {
    font-weight: bold;
    font-size: 1.2em;
}

.card button {
    margin-top: -0.1em;
    color: #fff;
    /*text-decoration: none;*/
    background: linear-gradient(90deg, rgba(0,194,255,1) 0%, rgba(0,86,255,1) 100%);
    padding: .5em 2em;
    border-radius: 0.7em;
    border: 1px solid rgba(0,194,255,1);
}

.card button:active {
    box-shadow: inset 3px 3px 3px #0056ff,
    inset -3px -3px 3px #00c2ff;
}

.text {
    color: #1a1a1d;
    /*font-size: 1em;*/
}
