.dialogItem {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: #3c3c3d;
    border-radius: 10px;
    cursor: pointer;
}

.dialogItem img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.dialogItem:hover {
    transform: scale(1.05);
}