
.wrapperInfo {
    display: flex;
    align-items: flex-start;
    border: 1px solid red;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
    padding: 15px;
    border: 1px solid red;

}

.avatar {
    width: 350px;
    height: 350px;
    padding: 1rem;
    border-radius: 25%;
    background-color: #313134;
    /*border: 1px solid red;*/
}
.fullName {
    font-size: 25px;
}