
/*.friends > span{*/
/*    font-size: 50px;*/
/*}*/
.nameBlock {
    font-size: 50px;
    color: white;
    margin-top: 20px;
    /*padding: 20px;*/
    /*padding-top: -35px;*/
    margin-left: 40px;

}
.friends {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    padding: 20px;
    margin: 15px;
    border: 3px solid #1a1a1d;
    border-radius: 15px;
    /*margin-top: -30px;*/
}

.friend img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.friend {
    margin: 5px;
    padding: 5px;
}